<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
</head>

<body>
<h2>Weather Dashboard</h2>
<form id="weatherForm" action="http://127.0.0.1:5000/forecast" method="post" >
    Enter City: <input id="weatherInput" type="text" name="city"><br>
    
    <input id="weatherSubmit" type="submit" value="Submit">
</form>
<form id="uploadcities" action="" enctype="multipart/form-data" method="post" >
    OR Upload CSV File: <input id="cityfile" type="file" name="file"><br>
    <input id="citysubmit" type="submit" value="Submit">
</form>

</body>
</html>